<form class="search-form mb-0" (clickOutside)="clickOutside()">
    <div class="input-group">
        <span class="input-group-text pe-0">
            <svg class="search-bg svg-color">
                <use href="assets/svg/iconly-sprite.svg#Search"></use>
            </svg>
        </span>
        <input class="form-control" type="text" placeholder="Buscar ruta aqui..." [class.open]="open" [(ngModel)]="text"
            [ngModelOptions]="{ standalone: true }" (keyup)="searchTerm(text)" name="q" title="" autocomplete="off">
    </div>
    @if(menuItems.length){
    <div class="Typeahead-menu custom-scrollbar" [class.is-open]="searchResult" id="search-outer" [class.open]="open">
        @for(menuItem of menuItems | slice : 0 : 8; track menuItem){
        <div class="ProfileCard u-cf">
            <div class="ProfileCard-details">
                <div class="ProfileCard-realName">
                    <div class="ProfileCard-avatar">
                        <app-svg-icon [icon]="menuItem.icon"></app-svg-icon>
                    </div>
                    <a [routerLink]="menuItem.path" class="realname" (click)="removeFix()">{{
                        menuItem.title }}</a>
                </div>
            </div>
        </div>
        }
    </div>
    }
    <div class="Typeahead-menu" [class.is-open]="searchResultEmpty">
        <div class="tt-dataset tt-dataset-0">
            <div class="EmptyMessage">No se encontro la ruta a buscar.</div>
        </div>
    </div>
</form>
