<div class="d-flex align-items-center" (click)="open()" (clickOutside)="clickOutside()">
    <img src="assets/images/profile.png" alt="">
    <div class="flex-grow-1">
        <h5>Wade Warren</h5><span>UI Designer</span>
    </div>
</div>
<div class="custom-menu overflow-hidden" [class.show]="profile">
    <ul>
        <!-- <li class="d-flex">
            <svg class="svg-color">
                <use href="assets/svg/iconly-sprite.svg#Profile"></use>
            </svg><a class="ms-2" [routerLink]="'/user/users-profile'">Account</a>
        </li>
        <li class="d-flex">
            <svg class="svg-color">
                <use href="assets/svg/iconly-sprite.svg#Message"></use>
            </svg><a class="ms-2" [routerLink]="'/letter-box'">Inbox</a>
        </li>
        <li class="d-flex">
            <svg class="svg-color">
                <use href="assets/svg/iconly-sprite.svg#Document"></use>
            </svg><a class="ms-2" [routerLink]="'/todo'">Task</a>
        </li> -->
        <li class="d-flex">
            <svg class="svg-color">
                <use href="assets/svg/iconly-sprite.svg#Login"></use>
            </svg><a class="ms-2" (click)="logOut()">Log Out</a>
        </li>
    </ul>
</div>
