<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 footer-copyright">
                <p class="mb-0">Copyright 2024 ©.</p>
            </div>
            <div class="col-md-6">
                <p class="float-end mb-0">Atom
                    <!-- <svg class="svg-color footer-icon">
                        <use href="assets/svg/iconly-sprite.svg#footer-heart"></use>
                    </svg> -->
                </p>
            </div>
        </div>
    </div>
</footer>
