<header class="page-header row">
    <div class="logo-wrapper d-flex align-items-center col-auto" (click)="openMenu()">
        <a href="index.html">
            <img class="for-light" src="assets/images/logo/logo.png" alt="logo">
            <img class="for-dark" src="assets/images/logo/dark-logo.png" alt="logo">
        </a>
        <a class="close-btn" href="javascript:void(0)">
            <div class="toggle-sidebar"  [class.close]="navmenu.closeSidebar">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </a>
    </div>
    <div class="page-main-header col" (clickOutside)="clickOutside()">
        <div class="header-left d-lg-block d-none">
            <app-search></app-search>
        </div>
        <div class="nav-right">
            <ul class="header-right">
                <li class="modes d-flex">
                    <app-theme></app-theme>
                </li>
                <li class="serchinput d-lg-none d-flex" >
                    <a class="search-mode" (click)="openSearch()">
                        <svg class="svg-color">
                            <use href="assets/svg/iconly-sprite.svg#Search"></use>
                        </svg></a>
                    <div class="form-group search-form" [class.open]="show">
                        <input type="text" placeholder="Buscar pagina aqui..." [(ngModel)]="text"
                            [ngModelOptions]="{ standalone: true }" (keyup)="searchTerm(text)" type="text" name="q"
                            title="" autocomplete="off">
                        @if(menuItems.length){
                        <div class="Typeahead-menu custom-scrollbar" [class.is-open]="searchResult" id="search-outer"
                            [class.open]="open">
                            @for(menuItem of menuItems | slice : 0 : 8; track menuItem){
                            <div class="ProfileCard u-cf">
                                <div class="ProfileCard-details">
                                    <div class="ProfileCard-realName">
                                        <a [routerLink]="menuItem.path" class="realname" (click)="removeFix()">{{
                                            menuItem.title
                                            }} </a>
                                        <div class="ProfileCard-avatar">
                                            <app-svg-icon [icon]="menuItem.icon"></app-svg-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                        }
                        <div class="Typeahead-menu is-open" [class.is-open]="searchResultEmpty">
                            <div class="tt-dataset tt-dataset-0">
                                <div class="EmptyMessage">La ruta a buscar no se encontro.</div>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- <li class="custom-dropdown">
                    <app-notification></app-notification>
                </li>
                <li class="custom-dropdown" (click)="languageToggle()">
                    <app-language></app-language>
                </li>
                <li class="custom-dropdown">
                    <app-bookmark></app-bookmark>
                </li>
                <li class="custom-dropdown">
                    <app-cart></app-cart>
                </li>
                <li class="custom-dropdown">
                    <app-messages></app-messages>
                </li> -->
                <li class="profile-dropdown custom-dropdown">
                    <app-profile></app-profile>
                </li>
            </ul>
        </div>
    </div>
</header>
